body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    font-family: 'Quicksand', sans-serif !important;    
}

.container-top {
    display: flex;
    background-color: #00BCD4;
    height: 45px;
    line-height: 45px;
}   

.logo {
    flex:1;
    color: #fff;
    font-size: 20px;
    padding-left: 1em;
    margin: 0;
    line-height: 40px;
}
.form {
    flex:1;
}

.top-right button{
    background-color: #fff !important;
}

.top-right {
    flex:6;
    text-align: right;
    color: #fff;
    padding-right: 2em;
}

.outer-wrapper .container-main {
    display: flex;
}

.outer-wrapper .container-main .left {
    width:380px;
    height:calc(100vh - 45px);
    background-color: #fff;
    /* border-right: 1px solid #eee; */
}    

.outer-wrapper .container-main .right-container {
    flex:5;
    height:calc(100vh - 45px);    
    padding:2em;
    background-color: #eff0f1;
}    

.ui.compact.vertical.menu {
    height:calc(100vh - 45px);    
    border-radius: 0;
}

.menu .item {
    padding: 1em !important;
    font-size: 13px;
    font-family: 'Nunito', sans-serif;
    color: #000 !important  ;
    font-weight: light;
}

.menu .item .icon {
    color:#444;
}

.left-inner {
    display: flex;
}
/* .left-inner .nav {
    width: 80px;
} */

.left-inner .nav-content-list {
    flex:1;
    padding: 2.5em 2em;
}

.nav-content h3 {
    color:#000;
    padding-bottom: 2em;
}

.icon.remove {
    padding-top: .8em;
    padding-right: 1em;
}

.nav-content-list h4 {
    padding-top: 1em;
}

.nav-content-list .ui.button {
    border: 1px solid #ccc;
}

.nav-content-list .ui.button.selected {
    background-color: #fff !important;
    box-shadow: none;
}

.nav-content-list {
    position: relative;
    overflow: hidden;
}

.nav-content-list-item {
    transition: all .3s;
    transform: translate(-250%,0);
    opacity: 0;
    position: absolute;
    right:0;
    left:1.5em;
}

.nav-content-list-item.active {
    transform: translate(0, 0);
    opacity: 1;
}

.container-top-middle {
    padding: .5em;
    text-align: right;
}

select.ui.dropdown {
    height: 34px;
}

.prompt {
    height: 32px;
}